body {
  font-family: Vernada, sans-serif;
  background-color: #f6fcfd;
}

.hightlight {
  background-color: yellow;
}

textarea {
  font-family: monospace;
}

.row {
  width: 100%;
}
.row:after {
  content: '';
  clear: both;
  display: block;
}

.col-40 {
  width: 40%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-30 {
  width: 30%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
}

.form-row {
  padding-bottom: 15px;
}

label {
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
}

textarea, input {
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #ccc;
  font-size: 13px
}

button {
  padding: 6px 16px;
  font-size: 15px;

  border: none;
  background-color: #4a68dd;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #2f48cc;
}

ul {
  margin: 0;
}

.content {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box;
}
